html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.student-image {
    width: 200px; 
    height: auto; 
}

.student-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

.student-table th, .student-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.student-table th {
    background-color: #f2f2f2;
}

.student-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.student-table tr:hover {
    background-color: #f1f1f1;
}