<div>
    <h2> Student Details</h2>
    <div>
        <ul>
            <li><strong>Name</strong>: Allen Aranez</li>
            <li><strong>Age</strong>: 22</li>
            <li><strong>Gender</strong>: Male</li>
            <li><strong>Address</strong>: Bahay</li>
        </ul>
    </div>

    <div class="student-img">
        <h2>Student Image</h2>
        <img class="student-image" src="~/Images/Student.jpg" alt="Student Image" />
    </div>

    <div class="mt-2">
        <h2>Student Table</h2>
        <table class="student-table">
            <tr>
                <th>Game Name</th>
                <th>Player Name</th>
                <th>Game Title/Rank Age</th>
            </tr>

            <tr>
                <td>Counter Strike</td>
                <td>Zyte.09</td>
                <td>Rookie</td>
            </tr>

            <tr>
                <td>Valorant</td>
                <td>Bumabalibag ng PWD</td>
                <td>Gold</td>
            </tr>

            <tr>
                <td>Valorant</td>
                <td>EndorphinSeeker</td>
                <td>Platinum</td>
            </tr>

            <tr>
                <td>Valorant</td>
                <td>Zyte</td>
                <td>Diamond</td>
            </tr>
            <tr>
                <td>League of legends</td>
                <td>Chinese Name</td>
                <td>Diamond</td>
            </tr>

            <tr>
                <td>League of Legends</td>
                <td>Zyte</td>
                <td>Grandmaster</td>
            </tr>

            <tr>
                <td>League of legends</td>
                <td>Bobong Sandwich</td>
                <td>Master</td>
            </tr>
        </table>
    </div>
</div>